@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Awesome Text Messaging App!</h2>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")